@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.cabecario-principal {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    border: solid 1px black;
}

.cabecario-principal .logo-starbucks-superior-header {
    width: 52px;
    height: 52px;
    margin-left: 1.5rem;

}

.caixa-menu-cabecario {
    display: flex;
    flex-direction: row;
    margin-left: 1.2rem;
    width: 25%;
    justify-content: space-evenly;
    
}

.caixa-menu-cabecario a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 13pt;
}