@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 6rem;
    border: solid 1px black;
}

.logo-starbucks-superior-header {
    width: 52px;
    height: 52px;
}

.caixa-menu-cabecario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 1.3rem;
   
}
.caixa-menu-cabecario ul {

    padding-right: 12px;
  }
.caixa-menu-cabecario a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 13pt;
}


.caixa-cabecario-direita {
    display: flex;
    align-items: center;
   justify-content: space-evenly;
    width: 650px;
}
.caixa-cabecario-direita a {

}

.img-historias-star-bucks {
    width: 120px;

}

.caixa-cabecario-direita .div-encontre-uma-loja-cabecario {
    display: flex;
    align-items: center;
}

.caixa-cabecario-direita .div-encontre-uma-loja-cabecario p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 12px;
}

.botao-entrar-cabecario {
    width: 91px;
    height: 33px;
    font-size: 12pt;
    background: white;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    border-radius: 19px;
    
}

.botao-entrar-cabecario:hover {
    

}

.botao-participe-agora-cabecario {
    width: 152px;
    height: 33px;
    font-size: 11.5pt;
    color: white;
    background: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 19px;
}


main {
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.container-banner-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 420px;
    
}

.botoes-laterais-banner {
    display: flex;
  
    position: absolute;
    gap: 0 1000px;
    
}

.quadradao {
    display: flex;
}

.quadrado {
    display: flex;
    width: 550px;
    height: 350px;
    background-color: red;
    border: purple 5px solid;
}
.quadrado-2 {
    display: flex;
    width: 550px;
    height: 350px;
    background-color: pink;
    border: rgb(215, 255, 38) 5px solid;
}